*{
    margin: 0;
    padding: 0;
}

.navbar-nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.name{
    margin-left: 0;
}

.me-card {
    background-color: #291F31;
    border-radius: 6rem;
}

.card-img-top{
    border-radius: 50%!important;
    width: 30vw;
    height: auto;
}

.name-card {
    background-color: #AD83CE;
    border-radius: 5rem;
    color: #AD83CE;
     -webkit-text-stroke-color: #FFEFF8;
     -webkit-text-stroke-width: 1.5px;
}

.home {
    background-color: #c4c4c4;
    height: 100vh;
}

.about {
    height: 150vh;
    background-color: #291F31;
}

.ab-card {
    border-radius: 50px!important;
    padding-bottom: 10rem;
    background-color: #D9D9D9;
    box-shadow: 2rem 2rem #8A8A8A;
}

.m-ab-card{
    margin-top: 12rem!important;
}

.ab-btn{
    background-color: #291F31!important;
    border: 3px solid white!important;
    color: white!important;
    border-radius: 0!important;
    width: 25rem!important;
    margin-bottom: 2rem!important;
}

.m-ab-btn-group{
    margin-top: 40rem!important;
}

#ab-header {
    font-size: 10rem;
}

.resume {
    height: 130vh;
    background-color: #EBEBEB;
    color: #785990;
    margin-bottom: 4rem;
}

.name-resume {
    max-height: 200px!important;
}

.works {
    height: 450vh;
    background-color: #EBEBEB;
}

.left {
    height: 100vh;
    background-color: #C4C4C4;
}

.right {
    height: 100vh;
    background-color: #3B048A;
}

.circle {
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    background-color: #3B048A;
}

.btn-works-header {
    width: 8vw;
    border-radius: 2rem;
    background-color: white;
}

#works-header {
    font-size: 7rem;
}

#works-subheader {
    color: #FFEFF8;
     -webkit-text-stroke-color: #3B048A;
     -webkit-text-stroke-width: 1.5px;
}

.works-card {
    background-color: #291F31;
    color: white;
}

.btn-works {
    border-radius: 3rem;
}
.btn-works{
    border-radius: 1px 1px 1px 1px;
}

.collapseIndicator {
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.bg-primary {
    background-color: #291F31 !important;
}

.card-body {
    background-color: #291F31 !important;
    color: white;
}